.formField {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submitButton {
  background-color: #55951c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #6573c3;
}

.container {
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #e2e8f0 ;
  padding: 20px;
  margin: 20px;
}

.header {
  padding-bottom: 40px;
}

.alert {
  text-align: center;
}